/*#sect1 {  
    height: 1000 px;  
    color: #fff;background-image: url("https://www.ppt-backgrounds.net/thumbs/simple-green-frame-keynote.jpeg");  
    background-size: 100%;  
    background-size: cover;  
} */