<div style="text-align: center" > 
  <h1>
      Welcome to the Test Your Knowledge Quiz
  </h1>

   

  <!-- <nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  </nav>-->

</div>

<div style="text-align: left" >

  <h2>
    About Test Your Knowledge:  
  </h2>

  <h4>
    In "Test Your Knowledge", you can simply test your knowledge.  
  </h4>

  <h4>
    TYK allows you to go through any subject you want to test how much you know in that subject.  
  </h4>

  <h4>
    The quizzes start easy at Quiz #1 ranging up to college level question at Quiz #10.
  </h4>

  <br>

  <h3>
    Select your subject and quiz and your off!
  </h3>

  <br>

    <h2>Good luck! </h2><h3>Login to begin:</h3>
  
    <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
    </nav>
  
  </div>