.math-quiz{
    position: absolute;
    right: 94%;
    bottom: 57.9%;
}

.math-quiz-rectangle {
    background-color: rgb(255, 0, 0);
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.math-quiz-rectangle p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}


.science-quiz{
    position: absolute;
    right: 94%;
    bottom: 27.9%;
}

.science-quiz-rectangle {
    background-color: rgb(255, 255, 0);
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

.science-quiz-rectangle p {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 20px;
}